// Reutilizamos los mismos estilos
$primary-green: #1b4d3e;

.auth-container { background-color: #f8f9fa; }
.auth-card { max-width: 400px; width: 100%; border-radius: 20px; }
.text-main-green { color: $primary-green; }

.form-control:focus {
    border-color: $primary-green;
    box-shadow: 0 0 0 4px rgba($primary-green, 0.1);
}
