// VARIABLE DE COLOR (Verde Bosque Profundo)
$primary-green: #1b4d3e;
$primary-green-hover: #143a2f;

.login-container {
    min-height: 100vh;
    background-color: #f8f9fa; /* Fondo muy suave */
}

.login-card {
    width: 100%;
    max-width: 450px;
    border-radius: 20px; /* Bordes más redondeados */
    background: #ffffff;
}

/* Icono Superior */
.icon-circle {
    width: 50px;
    height: 50px;
    background-color: rgba($primary-green, 0.1);
    color: $primary-green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* Inputs */
.form-control {
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    transition: all 0.2s;

    &:focus {
        background-color: #fff;
        border-color: $primary-green;
        box-shadow: 0 0 0 4px rgba($primary-green, 0.1); /* Anillo de enfoque verde suave */
    }
}

/* Arreglo para el grupo del input password */
.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-text {
    border: 1px solid #e0e0e0;
    border-left: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #6c757d;
    background-color: #fcfcfc !important;
}

/* Botón Principal */
.btn-primary {
    background-color: $primary-green;
    border-color: $primary-green;
    border-radius: 12px;
    padding: 0.8rem;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all 0.2s;

    &:hover {
        background-color: $primary-green-hover;
        border-color: $primary-green-hover;
        transform: translateY(-1px);
    }

    &:disabled {
        background-color: #aeb5b2;
        border-color: #aeb5b2;
    }
}

/* Links */
.text-primary {
    color: $primary-green !important;
}
.link-hover:hover {
    text-decoration: underline !important;
    opacity: 0.8;
}
