@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #f4f6f8;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.form-control:focus, .form-select:focus {
  border-color: #4facfe;
  box-shadow: 0 0 0 0.25rem rgba(79, 172, 254, 0.25);
}
